@import "reset.css";
@import "variables.css";

/*Components*/
@import "components/startus-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";

/*Screen*/
@import "screen/login.css";
@import "screen/friend.css";
@import "screen/find.css";
@import "screen/more.css";

body {
  color: #2e363e;
  font-family: -apple-system, "Open Sans", sans-serif;
  height: 1000vh;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
