@import "reset.css";
@import "variables.css";

/*Components*/
@import "components/startus-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";

/*Screen*/
@import "screen/login.css";
@import "screen/friend.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/settings.css";
@import "screen/chat.css";

body {
  color: #2e363e;
  font-family: -apple-system, "Open Sans", sans-serif;
  height: auto;
}
.main-screen {
  padding: var(--horizontal-space);
}
a {
  text-decoration: none;
}
