.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}
.nav__link {
  position: relative;
}
.nav__message_bot {
  background-color: tomato;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 25px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.nav__bot {
  background-color: tomato;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
}
a {
  text-decoration-line: none;
}
