.main-text {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.main-text__title {
  margin-bottom: 20px;
  font-size: 25px;
}

.main-text__subtitle {
  width: 80%;
  opacity: 0.7;
  font-weight: 500;
}

#ID-PW-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#ID-PW-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
}

#ID-PW-form input:not([type="submut"]) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#ID-PW-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#ID-PW-form input:focus {
  border-color: var(--yellow);
}

#ID-PW-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
}

#ID-PW-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
}
