.badge {
  background-color: tomato;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
.badge-icon {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
}
.position-1 {
  top: 25px;
  right: 15px;
  position: absolute;
}
.position-2 {
  left: 20px;
  bottom: 40px;
  position: relative;
}
.badge-1 {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: 600;
}
.position-3 {
  margin-left: 5px;
}
