.startus-bar {
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}
.startus-bar__cloumn {
  width: 33%;
}
.startus-bar__cloumn:first-child span {
  margin: 2px;
}
.startus-bar__cloumn:nth-child(2) {
  display: flex;
  justify-content: center;
}
.startus-bar__cloumn:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.startus-bar__cloumn .fa-battery-full {
  margin: 0px 2px;
}
.startus-bar__cloumn .fa-bolt {
  font-size: 2px;
}
.startus-bar__cloumn .fa-wifi{
  font-size: 14px;
}